.cart-item {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

.cart-actions button{
    border-radius: 6px;
    background-color: white;
    min-height: 2rem;
    min-width: 2rem;
    margin-right: 1rem;
    border: 1px solid grey;
}

.cart-actions button:hover, .cart-actions button:focus {
    background-color: black;
}
