.empty-cart {
  width: 80vw;
  text-align: center;
  margin: 10rem auto;
  font-size: 1.6rem;
}
.empty-cart-link {
  color: purple;
}
.cart {
  width: 100%;
  margin: auto;
  padding: 0 0.5rem;
}
.product {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px solid grey;
  padding: 1rem 0;
}
.product:nth-child(1) {
  border-top: 1px solid grey;
}
.product .image {
  margin: 0;
  display: flex;
  align-items: center;
  flex: 1;
}
.product img {
  max-width: 100%;
  width: 150px;
  height: 150px;
}
.details {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}
.button {
  margin: 0 1rem;
}
.button button {
  background: none;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.button button:hover {
  background-color: purple;
}
.form {
  text-align: center;
}
.form button {
  background: none;
  border: none;
  background-color: purple;
  color:  white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
