.zero {
  width: 80vw;
  height: 42vh;
  text-align: center;
  margin: 10rem auto;
  font-size: 1.2rem;
}
.some {
  color: purple;
}
.cart {
  width: 100%;
  margin: 10rem auto 2rem auto;
}
.details {
  display: flex;
  align-items: center;
}
.details .image {
  margin: 0;
}
.details img {
  max-width: 100%;
  width: 150px;
  height: 150px;
}
.button {
    margin: 0 1rem;
}
.button button {
  background: none;
  border: none;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
}

.pricing p {
  font-weight: bold;
}
