.product {
    margin: 2rem;
    padding: 1rem;
}
div .image {
    width: 120px;
    height: 100px;
    margin-bottom: 5rem;
}
img {
    max-width: 100%;
}
.product:hover {
    transition-property: box-shadow, transform;
    transition-duration: 350ms;
    transition-timing-function: ease-out;
    box-shadow: 0px 2px 8px rgb(227, 227, 239);
    transform: translateY(-6px);
    cursor: default;
}
.product-decription {
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}