.product-list {
    padding: 1rem 0;
}
.product-list h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}
.product-lists {
    display: flex;
    list-style: none;
    margin: 0.5rem;
}