.footer {
    background-color: white;
    color: black;
    padding: 1rem;
    text-transform: uppercase;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footer a {
    list-style-type: none;
    color: inherit;
  }
  .footer a:hover,
  .footer a:active {
    color: white;
    text-decoration: none;
    text-decoration: underline;
  }
  
  .links ul,
  .routes ul {
    list-style: none;
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .reserved {
    width: 30%;
    margin: auto;
    font-size: 7px;

  }
  
  @media (max-width: 450px) {
    .footer {
      width: 100%;
      display: block;
    }
    .links ul,
    .routes ul {
      gap: 1rem;
      margin: 1rem auto;
    }
    .routes ul {
      font-size: 10px;
    }
    .reserved {
      width: 60%;
      margin: auto;
      font-size: 6px;
    }
  }