.button {
    background-color: white;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 0.75rem, 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    margin: 1rem 0;
    background: none;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
}
.badge {
    background-color: purple;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color:  black;
}
