@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@200;300;400;500&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
  font-weight: bold;
  padding: 1rem 0;
}

.header h3 {
  font-family: 'Times New Roman', Times, serif;
}
.user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header-input input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid black;
}
.header-input input:hover,
.header-input input:focus{
  border-color: black;
  outline: none;
}
.auth button {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
@media (max-width: 450px) {
  .header {
    width: 450px;
  }
}