.stock {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 90%;
}
div .image {
    width: 150px;
    height: 130px;
    margin: auto;
}
div .detail {
    margin-top: 3.8rem;
    text-align: center;
    }
    
img {
    max-width: 100%;
}
.stock-properties {
    margin-bottom: 0;
}
.stock-form {
    margin-top: 0;
}
.stock:hover {
    transition-property: box-shadow, transform;
    transition-duration: 350ms;
    transition-timing-function: ease-out;
    box-shadow: 0px 2px 8px rgb(227, 227, 239);
    transform: translateY(-6px);
    cursor: pointer;
}
.stock-decription {
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}