.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input input {
    width: fit-content;
    border-radius: 2px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
    display: block;
}
.form-action button {
    display: block;
}