.form {
  width: 30rem;
  margin: 2rem auto 4rem auto;
}
.form .para {
  text-align: center;
  font-size: 14px;
}
.form h3 {
  text-align: center;
}
.form .description {
  font-weight: 100;
  padding-top: 1rem;
  padding-top: 1rem;
  margin: 0;
  font-size: large;
}

.form form {
  border: 1px solid rgb(198, 198, 198);
  padding: 1rem;
}
.input {
  margin-bottom: 0.5rem;
}

.input label {
  width: 100%;
  display: block;
  margin: 0.5rem 0 0 0;
  font-weight: bold;
}
.input input {
  width: 100%;
  display: block;
  padding: 0.5rem 1rem;
}
.warning{
  color: red;
  font-style: italic;
} 
.action {
  margin-top: 1rem;
}
.action button {
  background: none;
  border: none;
  background-color: rgb(44, 42, 42);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.action button:hover {
  background-color: purple;
}