.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 30rem;
    height: 100vh;
    animation: slide-in 100ms ease-in forwards;
    background-color: white;
    z-index: 200;
  }

 @keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(-1rem);
  }
 } 

 